.Square 
{
  width: 25px;
  height: 25px;
  border: white solid 2px;
}
.Serpent
{
    width: 25px;
    height: 25px;
    border: white solid 2px;
    background-color: white;
}
.Apple
{
    width: 25px;
    height: 25px;
    border: white solid 2px;
    background-color: green;
}